.App {
  text-align: center;
}


.App-header {
  background-color: #002B36;
  padding: 8px;
  padding-bottom: 2px;
  color: white;
}

.App-header h1 {
  font-size: 1.4em;
}
.App-header h2 {
  font-size: 1.1em;
  font-weight: normal;
}

.App-intro {
  font-size: large;
}

.statsEnglish {
  background: #003A49 linear-gradient(#002B36, #003A49);
  color: white;
  padding: 0.2em;
  padding-bottom: 0.8em;
}

.statsEnglish p {
  margin: 0.2em;
}